export(metaData)
export(quandl.api)
export(Quandl.auth)
export(Quandl.limit)
export(Quandl.push)
export(Quandl.search)
export(Quandl)
importFrom(RCurl,basicHeaderGatherer)
importFrom(RCurl,curlOptions)
importFrom(RCurl,getURL)
importFrom(RCurl,httpDELETE)
importFrom(RCurl,postForm)
importFrom(RJSONIO,fromJSON)
importFrom(RJSONIO,toJSON)
importFrom(xts,as.xts)
importFrom(xts,xts)
importFrom(zoo,as.yearmon)
importFrom(zoo,as.yearqtr)
importFrom(zoo,as.zooreg)
importFrom(zoo,zoo)
