export(Quandl.auth)
export(Quandl.limit)
export(Quandl.push)
export(Quandl.search)
export(Quandl)
importFrom(RCurl,basicHeaderGatherer)
importFrom(RCurl,getURL)
importFrom(RCurl,postForm)
importFrom(RJSONIO,fromJSON)
importFrom(xts,xts)
importFrom(zoo,zoo)
